/********************
* Fonts
*/

@mixin getFontWeights($extend: false, $styles: false) {
  @for $i from 1 through 9 {
    $value: $i * 100;
    
    &-#{$value} {
      @if $extend { @extend #{$extend} }
      font-weight: $value;

      @if $styles {
        &-normal { font-style: normal }
        &-italic { font-style: italic }
        &-oblique { font-style: oblique }
      }
    }
  }
}
  @each $prefix, $size in $fontSizes {
  .font {
    &-#{$prefix} {
      font-size: $size;
      @include getFontWeights(false, true);
    }
  }

  @include medias('font-#{$prefix}') { font-size: $size }
}

@for $i from 1 through 9 {
  $value: $i * 100;

  .weight-#{$value} { font-weight: $value }

  @include medias('weight-#{$value}') { font-weight: $value }
}


