/********************
* Titres / Textes / Liens
*/

.skr-hint {
	position: relative;

	&:hover .skr-hint__hint {
		transform: translate(-50%, 120%);
		opacity: 1;
	}

	&__hint {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 100%);
		opacity: 0;
		display: inline-block;
		border-radius: $block-border__radius;
		background-color: #192957;
		color: #FFFFFF;
		font-size: $text-size__small;
		line-height: 1.4em;
		font-weight: 500;
		padding: 6px 10px;
		transition: transform $delay__fast ease, opacity $delay__fast ease;

		&:before {
			position: absolute;
			top: 0;
			left: 50%;
			transform: rotate(45deg) translateX(-50%);
			width: 6px;
			height: 6px;
			background-color: #192957;
			content: '';
			z-index: -1;
		}
	}
}




/********************
* Positionnement / Style
*/

.align {
	&-left { text-align: left }
	&-center { text-align: center }
	&-right { text-align: right }
}

@include medias('align-left') { text-align: left }
@include medias('align-center') { text-align: center }
@include medias('align-right') { text-align: right }

.uppercase { text-transform: uppercase }